body {
	width: 100vw;
	height: 100vh;
	font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: linear-gradient(to bottom, #fff 0%, #2f6663 100%);
}

/* edit the bootstrap cards here*/
.cards {
	margin-top: 10px;
	border-radius: 40px;
	border: 2px solid #2f6663;
	background: #2f6663;
	color: #fff;
}


/*edit game heading in here*/
#gameHeading {
	text-align: center;
	margin-top: 15px;
}

/*edit timer here*/
.smallBox {
	width: 80px;
	height: 30px;
	border: 2px solid #2f6663;
	border-radius: 100%;
	margin: 0 10px;
	padding: 0;
	float: left;
	text-align: center;
	background: linear-gradient(to bottom, #2f6663 0%, #f2af07 100%);
	color: #fff;
}

/*edit the buttons in here*/
button {
	border-radius: 100px;
	border: 2px solid #2f6663;
	background: linear-gradient(to bottom, #2f6663 0%, #f2af07 100%);
	color: #fff;
	float: right;
}

#restart {
	margin: 10px auto;
}



/* edit the game domain in here*/
.gameDomain {
    width: 600px;
    height: 600px;
    border: 2px solid #2f6663;
    margin: 10px auto;
    padding: 0;
    background-color: #2f6663;
    border-radius: 10px;
}

li {
    box-sizing: border-box;
    height: 59.6px;
    width: 59.6px;
    display: inline-block;
    float: left;
    list-style-type: none;
	
}

/*edit the playerAtom in here*/

.playerAtom {
	width: 5px;
	height: 5px;
	border: 5px solid #fff;
	border-radius: 100%;
	padding: 10px;
	margin: 10px auto;
}



/*edit the randomAtom generation in here*/

.randomAtom {
	width: 5px;
	height: 5px;
	border: 5px solid #c60909;
	border-radius: 100%;
	padding: 10px;
	margin: 10px auto;	
}



/*edit the highscore box in here*/

#highScores {
	width: 150px;
	height: 50px;
	border: 2px solid #2f6663;
	border-radius: 5%;
	text-align: center;
	padding: 0;
}